

:root{
  --bg-color: aquamarine;
}
*{
  padding: 0;
  margin:0;
  box-sizing:border-box;
}

body{
  font-size: Arial,Helvetica,sans-serif;
  background-color: var(--bg-color);
  overflow: hidden;
}
.color-switcher{
  width:10rem;
  background-color: #ffff;
  position: absolute;
  right:0;
  top: 20%;
  transform: translate(100%,-50%);
  transition:all .5s ease-in-out;
}
.color-switcher--open{
  transform: translate(0,-50%);   
}
.heading{
  font-size: 1.3rem;
  margin-bottom: 1.2rem;

}

.color-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
.item{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--bg-color);
  
}
button{
  width: 3rem;
  height:3rem;
  background-color: #ffff;

  color: black;
  border: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%,-50%);
  display: grid;
  place-items: center;
  cursor:pointer;

}
